nav {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 517;
    font-style: normal;
    box-shadow: 5px 5px 2px  rgba(209, 118, 228, 0.89);

}
a>img{
    margin-left: 5px;
  
    
}  
li>a{
    box-shadow: 5px 5px 2px  rgba(209, 118, 228, 0.89);

}
section>a{
    box-shadow: 5px 5px 2px  rgba(209, 118, 228, 0.89);
}
footer{
    box-shadow: 5px 5px 2px  rgba(209, 118, 228, 0.89);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 517;
    font-style: normal;
}