.contenido{
    margin-left: 20px ;
}
.intro{
    background-color: #e8d8f5;
  font-size: 14px;
  padding: 8px;

}
.flex-container{
    display: flex;
    flex-wrap:wrap;
    text-align: start;
}
.imagen{
  display: flex;
  justify-content: center;
}
.img1{
margin-right: 10px;
}
footer {
    text-align: center;
}